$text: hsl(243, 100, 1);
$body-background-color: #fefefe;
$family-sans-serif: "Noto Sans JP", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;

@import "~bulma/bulma";
