@charset "utf-8";

@import "bulma-initialize";

body {
  font-kerning: auto;
}

.section.is-text-wrapped {
  overflow-wrap: break-word;
}

.image.is-radius {
  border-radius: 4px;
  overflow: hidden;
}

.heavens-door-custom {
  top: inherit !important;
  bottom: 10px;
}
